// COLORS

$color-primary: #ee881b;
$color-primary-light: #ffae42;
$color-primary-dark: #ff8c00;
$color-primary-light-2: #fed8b1;
$color-primary-dark-2: #ffa500;
$color-secondary: #e71d36;
$color-secondary-light: #e3242b;
$color-secondary-dark: #d21404;
$color-tertiary: #3943b7;
$color-tertiary-light: #63c5da;
$color-tertiary-dark: #051094;
$color-white: #fff;
$color-dark: #252525;

$color-light-1: #f4f7f6;
$color-light-2: #eee;
$color-dark-1: #777;

$default-font-size: 1.6rem;
